/*text-color*/
$text-color-primary: #444444;
$text-color-secondary: #222222;
$text-color-title: #000000;
$text-color-adress: #111111;
/*bg-color*/
$basic-green: #68b738;
$basic-grey : #f2f2f2;
/*width*/
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
