@use "../global/bootstrap.scss";

.advantages-item {
  display: flex;
  padding-bottom: 20px;
  justify-content: flex-start;
}

.advantages-item__background-icon {
  background-color: bootstrap.$basic-green;
  min-height: 60px;
  min-width: 60px;
}

.advantages-item__icon {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
