@use "../global/bootstrap.scss";

.feature {
  padding-bottom: 20px;
  background-color: #ffffff;
}

.feature__wrap {
  grid-column: 1/-1;
  background-color: #f2f2f2;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 60px 1fr 60px 1fr 60px 1fr;
}

.feature__title {
  display: inline-block;
  grid-column: 1/-1;
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 30px 0 29px 91px;
  padding: 0;
}

.feature__icon-background {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: bootstrap.$basic-green;
  position: absolute;
  top: 24px;
  left: 22px;
}

.feature__cat-strong-icon {
  position: absolute;
  top: 35px;
  left: 13px;
}

.feature__cat-slim-icon {
  position: absolute;
  top: 21px;
  left: 29px;
}

.feature__desc {
  margin: 0 20px 42px;
  grid-column: 1/-1;
}

.feature__link-desc {
  padding-right: 57px;
  background-image: url("../../image/image-mobile/icon/feature-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
}

.feature__link {
  @include bootstrap.link-reset;
  padding: 4px 57px 4px 0;
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  grid-column: 1/-1;
  grid-row: 3/4;
  margin: 0 auto 18px 19px;
  min-width: 83px;
  align-self: start;

  &:hover,
  &:focus {
    .feature__link-desc {
      background-image: url("../../image/image-mobile/icon/feature-arrow-long.svg");
      background-position: center right 7px;
    }
  }

  &:active {
    .feature__link-desc {
      background-image: url("../../image/image-mobile/icon/feature-arrow-long.svg");
      opacity: 0.3;
    }
  }
}

@media (min-width: bootstrap.$tablet-width) {
  .feature__icon-background {
    width: 200px;
    height: 200px;
    transform-origin: top right;
    top: 92px;
    right: 62px;
    left: auto;
  }

  .feature__title {
    grid-column: 1/5;
    margin: 77px 0 23px 53px;
    text-align: start;
    font-size: 36px;
    line-height: 36px;
  }

  .feature__desc {
    grid-column: 1/5;
    grid-row: 2/3;
    margin: 0 0 48px 52px;
    font-size: 16px;
    line-height: 24px;
  }

  .feature__link {
    margin: 0 0 53px 52px;
    grid-column: 1/5;
  }

  .feature__wrap {
    min-height: 372px;
  }

  .feature__cat-slim-icon {
    width: 140px;
    height: 194px;
    top: 81px;
    right: 92px;
    left: auto;
  }

  .feature__cat-strong-icon {
    width: 268px;
    height: 112px;
    top: 135px;
    right: 28px;
    left: auto;
  }

  .feature__link-desc {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: bootstrap.$desktop-width) {
  .feature__icon-background {
    width: 100px;
    height: 100px;
    transform-origin: top right;
    top: 47px;
    right: auto;
    left: 52px;
  }

  .feature__title {
    grid-column: 1/-1;
    margin: 77px 20px 73px 214px;
    text-align: start;
    font-size: 36px;
    line-height: 36px;
  }

  .feature__desc {
    grid-column: 1/-1;
    grid-row: 2/3;
    margin: 0 52px 23px;
    font-size: 16px;
    line-height: 24px;
  }

  .feature__link {
    margin: 0 52px 53px;
    grid-column: 1/5;
  }

  .feature__wrap {
    min-height: 372px;
  }

  .feature__cat-slim-icon {
    width: 70px;
    height: 97px;
    top: 41px;
    right: auto;
    left: 67px;
  }

  .feature__cat-strong-icon {
    width: 134px;
    height: 56px;
    top: 61px;
    right: auto;
    left: 33px;
  }

  .feature__link-desc {
    font-size: 20px;
    line-height: 30px;
  }
}
