.form-comment {
  padding: 0 0 23px;
}

.form-comment__form-legend {
  margin-bottom: 38px;
  display: block;
}

.form-comment__field {
  padding: 0;
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  text-align: center;
}
