.form-radiobutton {
  border: 0;
  padding: 23px 0 6px;
}

.form-radiobutton__radiobutton {
  margin-bottom: 13px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}

.form-radiobutton__form-label {
  color: #222222;
}
