.main-footer {
  background-color: #f2f2f2;
}

.main-footer__link {
  margin: 40px auto 0;
}

.main-footer__social {
  top: 115px;
}

.main-footer__htmlacademy-logo {
  display: flex;
  justify-content: space-between;
}
