.main-header {
  min-height: 65px;
  min-width: 280px;
  padding: 0 20px;
  background-color: #ffffff;
}

.main-header__link {
  margin-top: 10px;
}

.main-header__main-nav {

}

.main-header__logo {

}
