.main-container {

}

.main-container__promo {
  grid-column: 1/-1;
}

.main-container__feature {
  grid-column: 1/-1;
}

.main-container__advantages {
  grid-column: 1/-1;
}

.main-container__stats {
  grid-column: 1/-1;
}

.main-container__location {
  grid-column: 1/-1;
}

.main-container__main-title {
  grid-column: 1/-1;
}

.main-container__form {
  grid-column: 1/-1;
}

.main-container__desc-form {
  grid-column: 1/-1;
}

.main-container__catalog-products {
  grid-column: 1/-1;
}

.main-container__catalog-additional-products {
  grid-column: 1/-1;
}
