@use "../global/bootstrap.scss";

.main-footer {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-footer__link {
  margin: 40px auto 0;
}

.main-footer__social {
  top: 115px;
}

.main-footer__htmlacademy-logo {
  display: flex;
  justify-content: space-between;
}

@media (min-width: bootstrap.$tablet-width) {
  .main-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer__link {
    margin: 0;
  }
}
