@use "../global/bootstrap.scss";

.main-nav {
  display: flex;
  flex-direction: column;
  min-height: 65px;
  background-color: #ffffff;
}

.main-nav__toggle {
  background-color: #ffffff;
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 65px;
  height: 64px;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 23px;
    right: 20px;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    box-shadow: 0 6.5px 0 0 #000000, 0 13px 0 0 #000000;
  }

  &:hover::before,
  &:focus::before {
    background-color: #3e3e3e;
    box-shadow: 0 6.5px 0 0 #3e3e3e, 0 13px 0 0 #3e3e3e;
  }

  &:active::before {
    background-color: #6b6b6b;
    box-shadow: 0 6.5px 0 0 #6b6b6b, 0 13px 0 0 #6b6b6b;
  }
}

@media (max-width: bootstrap.$mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }


  .main-nav--opened .main-nav__wrap {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs {
  .main-nav__wrap {
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 32.5px;
    left: 20px;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: #3e3e3e;
  }

  &:active::after,
  &:active::before {
    background-color: #6b6b6b;
  }
}

@media (min-width: bootstrap.$tablet-width) {
  .main-nav {
    flex-direction: row;
    min-height: 36px;
    align-self: start;
  }

  .main-nav__list {
    margin-top: 18px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: bootstrap.$desktop-width) {
  .main-nav__list {
    position: absolute;
    right: 120px;
    z-index: 0;
  }
}
