.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.page__main-header {
  margin: 0 auto;
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}

.page__main-container {
  margin: 0 auto;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.page__main-footer {
  margin: 0 auto;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
}
