.product-item {
  padding: 11px 0 14px;
  box-sizing: border-box;
}

.product-item__button {
  font-size: 16px;
  line-height: 20px;
}

.product-item__desc {
  font-size: 12px;
  line-height: 16px;
}
