@use "../global/bootstrap.scss";

.promo-title {
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

@media (min-width: bootstrap.$tablet-width) {
  .promo-title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: bootstrap.$desktop-width) {
  .promo-title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}
