@use "../global/bootstrap.scss";

.promo-desc {
  font-family: "oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@media (min-width: bootstrap.$tablet-width) {
  .promo-desc {
    color: #000000;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
