@use "../global/bootstrap.scss";

.site-list {
  @include bootstrap.list-reset;
  display: flex;
  flex-direction: column;
}

@media (max-width: bootstrap.$mobile-width-only) {
  .site-list__link {
    border-bottom: 1px solid #e6e6e6;
  }
}

.site-list__link {
  text-decoration: none;
  font-family: "oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  z-index: 1;
  display: inline-block;
  padding: 22px 0 24px;
  background-color: #ffffff;
}

@media (min-width: bootstrap.$tablet-width) {
  .site-list {
    flex-direction: row;
    width: 440px;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 16px;
    padding: 18px 0 12px;
  }

  .site-list__link {
    font-family: "oswald", sans-serif;
    font-size: 18px;
    line-height: 24px;
    display: block;
    border: none;
    padding: 22px 0 12px;

    &--active {
      box-shadow: inset 0 -2px 0 0 #ffffff, inset 0 -4px 0 0 bootstrap.$basic-green;
    }
  }
}

@media (min-width: bootstrap.$desktop-width) {
  .site-list__link--index {
    color: #ffffff;
    background-color: rgba(104, 183, 56, 0);
  }

  .site-list__link {
    padding-bottom: 10px;

    &--active {
      box-shadow: inset 0 -2px 0 0 #ffffff;
    }
  }
}
